*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}
.col-md-6{
    width: 48% !important;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    width: 100%;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}
.btn-main{
    order: 3;
}
.re-btn {
    padding: 10px 20px !important;
    background: #0000 !important;
    border: 1px solid black !important;
    border-radius: 5px !important;
    
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease-in-out;
    font-size: 18px;
}

.navbar a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .input-group.mb-3 {
        background-color: #292A32;
        padding: 11px !important;
    }
    button.btn.btn-subs {
        margin-top: 10px;
    }
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        order:2;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    .log-row{
        padding-left:0px ;
        padding-right: 0px;
    }
    ul.menu-items {
        width: 207px !important;
    }

    .btn-main {
        display: none;
    }

    .main-hero{
        padding-top: 0px !important;
    }
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

   

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
.input-group{
    display:flex;
    flex-direction:column !important;
}
    h3.acc-num {
        font-size: 21px !important;
        padding-right: 16px !important;
    }
    .acc-txt{
        font-size: 14px !important;
    }
}

@media (max-width: 1024px){
.col-lg-6.opt-sec {
    border: 2px solid;
    border-radius: 15px;
    background-color: #F3F3F3;
    /* height: 330px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px ;
    width: 100%  !important;
    padding-top: 32px !important;
}

.col-md-6{
    width: 100% !important;
}
}


.main-hero{

padding-top:100px ;
}

.p-5.mt-4.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: baseline;
}



/* .colz1 {
    width:30%;
       display: flex;
      flex-flow: row wrap;
  }
  .colz2 {
    width:60%;
      
  }
  h2.src {
    background: #baff66;
    padding: 10px;
    border-radius: 5px;
}
  
  .wrapperz {
      
      max-width: 1000px;
      width: 80%;
      
  }
  
  .columnsz {
      display: flex;
      flex-flow: row wrap;
      

    
  } */


 .h-sre {
    background-color: #baff66 !important;
    padding: 10px;
    border-radius: 5px;
    display: inline;
  }
  


  
  .opt-sec:hover {
  background-color: #B9FF66 !important; 
  }
  .opt-sec:hover .optt-btn{
    background-color: white;
  }
  
  img.h-img {
    width: 100%;
}

  .col-lg-6.opt-sec {
    border: 2px solid;
    border-radius: 15px; 
    background-color: #F3F3F3;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 48%;


}
.arr-logo{
    margin-right: 10px;
}

.optt-btn{
    background: #baff66;
    display: inline;
    border-radius: 7px;
    padding: 3px;
}
.btn-txt {
    padding-top: 49px;
}

h3.acc-num {
    font-size: 60px;
    padding-right: 30px;
}
.acc-txt{
    font-size:20px;
}

div#accordionExample {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.accordion-item {
    border-radius:20px;
    
}  

.accordion-button:not(.collapsed) {
    background-color: #baff66 !important;
    border-radius: 20px;
}
.accordion-body {
    background-color: #baff66;
    padding: 44px;
    border-radius: 0px 0px 20px 20px;
    margin-top: -37px;
}
.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: #f2f2f245;
}

/* .accordion-item:active {
    background-color: #baff66 !important;
    border: 1px 1px 2px 1px solid black;
} */

.accordion-button:not(.collapsed)::after {
    background-image: url("./assets/plusicon.svg");
}
.accordion-button::after {
    background-image: url("./assets/minsicon.svg");
}

.accordion-item:not(:first-of-type) {
    border-top: 1px solid black !important;
    border-left: 1px solid black !important;
    border-bottom: 2px solid black !important;
    border-right: 1px solid black !important;
}
.mb-3.c-checkbox {
    display: flex;
    gap: 40px;
}   

.form-check-input:checked {
    background-color: #baff66 !important;
    border-color: black;
}


img.contact-img {
    float: right;
    width: 68%;
    height: 76%;
    object-fit: contain;
}

.row.pt-5.contact-r {
    background: #F3F3F3;
    padding: 10px 30px;
    border-radius: 20px;
}

button.btn.btn-dark.submit-btn {
    width: 100%;
}

.footer-sec{
    border-radius: 20px 20px 0px 0px ;
}

.social-icons img {
    background-color: white;
    padding: 4px;
    border-radius: 50px !important;
}

.input-group.mb-3 {
    background-color: #292A32;
    padding: 44px;
    border-radius: 20px;
}

h3.c-h {
    background-color: #baff66 !important;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    
}

button.btn.btn-subs {
    background: #baff66;
    color: black;
    width: 150px;
    border-radius: 21px;
}
input.form-control {
    background-color: #99999900;
    border-radius: 25px;
}

.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 20px;
       border-bottom-right-radius:20px;
   }

   .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: calc(var(--bs-border-width)* -1);
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
   }

   .form-control::placeholder {
    color: white !important;
  }
